//input(type='button', id='button1', value='Jack1 show')
//input(type='button', id='button2', value='Jack2 show')
//input(type='button', id='button3', value='Jack3 show')
//input(type='button', id='button4', value='Jack4 show')
//input(type='button', id='button5', value='Jack5 show')


div#main
div#user_img
