//canvas(width='400', height='400', data-src='/processing/Xmas.pde' id='canvas1')
input(type='button', id='button', value='Effect Button')
input(type='button', id='button1', value='Jack1 show')
input(type='button', id='button2', value='Jack2 show')
input(type='button', id='button3', value='Jack3 show')
div#main
div#user_img
