canvas(width='400', height='400', data-src='/processing/Xmas.pde' id='canvas1')
audio(src='music/xmas.mp3' controls)
h2#result_x
h2#result_y
h2#result_z
h2#result_x2
h2#result_y2
h2#result_z2
button#button buffer on
button#oscillator osc start
input(type='button', id='freq', value=500)
input(type='hidden', id='level', value=0.5)
input(type='button', id='bg-button' value='Draw a Circle')
input(id='bg' type='range' value='0' min='0' max='100' style='width: 400px')
