!!!
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', media='only screen and (max-device-width:480px)', href='/stylesheets/mobile.css')
    link(rel='stylesheet', media='screen and (min-device-width:560px)', href='/stylesheets/desktop.css')
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/agent.js")
    //script(type="text/javascript", src="/javascripts/gyro.js")
    script(type="text/javascript", src="/javascripts/wappism.js")
    script(type="text/javascript", src="/javascripts/socket.js")
    script(type="text/javascript", src="/javascripts/bgm.js")
    script(type="text/javascript", src="/javascripts/processing.js")
    script(type="text/javascript", src="/javascripts/canvas.js")
    script(type="text/javascript", src="/javascripts/agent.js")
    script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js")
    script(type="text/javascript", src="/javascripts/jquery.illuminate.0.7.min.js")
    script(type="text/javascript", src="/javascripts/effect.js")
    script(type="text/javascript", src="/javascripts/audio.js")

  body!= body
 