!!!
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/jquery.js")
    script(type="text/javascript", src="/javascripts/gyro.js")
    script(type="text/javascript", src="/javascripts/audio.js")
    script(type="text/javascript", src="/javascripts/wappism.js")
    script(type="text/javascript", src="/javascripts/socket.js")
    script(type="text/javascript", src="/javascripts/bgm.js")
    script(type="text/javascript", src="/javascripts/processing.js")
    script(type="text/javascript", src="/javascripts/canvas.js")
    script(type="text/javascript", src="/javascripts/agent.js")
    script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")

  body!= body
