 body  {
	 	padding: 50px;
  		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   		background: url("../images/halloween3.jpg") no-repeat center center fixed;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
	}


 #jack1 {
    	position: absolute;  
    	top: 400px;  
    	left: 950px;  
    	opacity: 0.1;
		width: 220px;
	}

 #jack2 {
 	   position: absolute;  
    	top: 200px;  
    	left: 300px;  
    	opacity: 0.1;
		width: 180px;	
	}

 #jack3 {
 	   position: absolute;  
    	top: 200px;  
    	left: 520px;  
    	opacity: 0;
		width: 400px;
	}
