 body  {
	 	padding: 50px;
  		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   		background: url("../images/halloween3.jpg") no-repeat center center fixed;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
	}

.count{
    color: #ffffff;
}
 #count1 {
        position: absolute;  
        top: 400px;  
        left: 200px;  
    }

 #count2 {
        position: absolute;  
        top: 400px;  
        left: 400px;  
    }
 #count3 {
        position: absolute;  
        top: 400px;  
        left: 600px;  
    }
 #count4 {
        position: absolute;  
        top: 400px;  
        left: 800px;  
    }
 #count5 {
        position: absolute;  
        top: 400px;  
        left: 1000px;  
    }
 #jack1 {
    	position: absolute;  
    	top: 400px;  
    	left: 200px;  
    	opacity: 1;
		width: 100px;
	}

 #jack2 {
 	   position: absolute;  
    	top: 400px;  
    	left: 400px;  
    	opacity: 0.3;
		width: 100px;	
	}

 #jack3 {
 	   position: absolute;  
    	top: 400px;  
    	left: 600px;  
    	opacity: 0.3;
		width: 100px;
	}
 #jack4 {
       position: absolute;  
        top: 400px;  
        left: 800px;  
        opacity: 0.3;
        width: 100px;
    }
 #jack5 {
       position: absolute;  
        top: 400px;  
        left: 1000px;  
        opacity: 0.3;
        width: 100px;
    }

#jack1_shadow{
    position: absolute;  
        top: 400px;  
        left: 200px;  
        opacity: 0;
        width: 200px;
  
/*    -webkit-filter: drop-shadow(4px 4px 40px white);
    -moz-filter: drop-shadow(4px 4px 40px white);
    -ms-filter: drop-shadow(4px 4px 40px white);
    -o-filter: drop-shadow(4px 4px 40px white);
    filter: drop-shadow(4px 4px 40px white);
*/
}
#jack2_shadow{
    position: absolute;  
        top: 400px;  
        left: 400px;  
        opacity: 0;
        width: 400px;
}

#jack3_shadow{
    position: absolute;  
        top: 400px;  
        left: 600px;  
        opacity: 0;
        width: 200px;
}
#jack4_shadow{
    position: absolute;  
        top: 400px;  
        left: 800px;  
        opacity: 0;
        width: 200px;
}
#jack5_shadow{
    position: absolute;  
        top: 400px;  
        left: 1000px;  
        opacity: 0;
        width: 200px;
}
