 body  {
    background-color: #000000;
	}

.jack {
  -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, 
　　left bottom, from(transparent), 
　　color-stop(.7, transparent), to(white));
    margin: 5px auto;    
    width: 300px;
}